@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    font-family: "Helvetica Neue";
    /* font-family: 'Lora', serif; */
    /*    font-family: 'Raleway',
   sans-serif;*/
}
