/* Main Color: #00bcd4*/

/* Background: #F5F6F5 */

/* Secondary Color: #A8B1B0 */

/* Dark-grey: #424242 */

/* Light Grey: #e8e8e8 */

/* NOTE GRID */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9{
  padding-top: 15px;
  padding-bottom: 15px;

}
.main-container {
  padding: 25px 5%;
  margin: 0 auto;
  max-width: 1200px;
  /*    border: 1px solid grey;*/
  overflow: hidden;
}

.flex-container {
  padding: 0;
  margin: 0;
  display: flex;
}

ul.flex-container{
  list-style-type: none;
}

.flex-item {
  text-align: center;
}
.flex-item a{
  color: white;
  padding: 1em 1.5em;
    background: #00bcd4;
    margin: 1em;
}

.text-box{
  padding:0 15%;
}
/* NOTE COMPONENTS*/

button {
  font-family: 'Raleway', sans-serif;
}

img{
  margin: 20px auto 0 auto;
  background-size: cover;
  width:100%;
}

iframe{
  margin: 10px auto;
}

.quote-line{
  font-style: italic;
  font-weight: bold;
  color: grey;
  padding-left: 20px;
  font-family: 'PT Serif', serif;
}

.quote-person{
  font-size: 1em;
  padding-left: 20px;
}

.quote{
  margin: 30px auto;
  border-left: 2px solid #c1c1c1;
}
.space{
  height: 20px;
  width: 100%;
}

.center-col, .proto-demo{
text-align:center;
}


section.work img, img.feature-image{
  margin: 0px auto;
}
/* NOTE TYPOGRAPHY */
h1, h3{
  margin:20px 0;
  }

  h2{
    margin:30px 0;

  }

/* USE FOR PROJECT TITLE */
h1 {
  font-size: 2.75em; /* 44px*/
  line-height:1.6em;
  letter-spacing: .02em;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

/* USE FOR SECTION HEADING */
h2 {
  font-size: 2.2em; /* 32px */
  line-height:1.4em;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

/* USE FOR SECTION HEADING2 */
h3 {
  font-size: 1.8em;  /* 28px */
  font-weight: 700;
  color: #424242;
  /* text-align:center; */
  padding: 10px 0;
}

/* USE FOR SECTION HEADING3 */
h4 {
  font-size: 1.4em; /* 24px */
  line-height: 1.4em;
  letter-spacing: .08em;
}

/* USE FOR QUOTES OR INSIGHT */
h4.quote{
  line-height: 1.4em;
  letter-spacing: .08em;
  font-weight: bold;
  font-style: italic;

}

h4.highlight{
  padding-top: 20px;
  /* padding-bottom: 20px; */
  line-height: 1.4em;
  letter-spacing: .08em;
  font-style: italic;
  color: grey;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  text-align: center;
}

h5 {
  font-size: 1em;
  line-height: 1.6em;
  letter-spacing: .02em;
  /* 16px/16=1em */
  font-weight: 400;
  /* margin-bottom:0;
  margin-top:0; */
}

/* USE FOR NORMAL TEXT */
p {
  font-size: 1.2em; /* 19px */
  line-height: 1.6em;
  letter-spacing: .05em;
  margin: 10px 0 15px 0;
}
/* USE FOR CAPTION */
p.caption{
  font-size: 1em; /* 16px */
  line-height: 1.4em;
  letter-spacing: .02em;
  margin: 5px 0 0 0;
  text-align: center;
  font-style: italic;
}

a{
  text-decoration:none;
    color:#333;
}
a:hover{
  text-decoration:none;

}

p.italic{
  padding-top: 1em;
  font-size: 1.35em;
  font-style: italic;
  font-weight: bold;
  color: grey;

}
.center{
  text-align: center;
}
hr{
  margin-top:20px;
  margin-bottom:20px;
}



/* Nav */
#project-page{
position:relative;
}

#project-page .main-container{
    padding: 35px 5%;
}
#topnav.main-container{
  padding: 0px 5%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .1em;
}
#project-page #topnav.main-container{
    /* background-color: #FFFFFF; */
    padding: 0 5%;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color:#555;
}
#front-page header{
  color: #A8B1B0;
  position:relative;
  padding: 0;
  z-index: 50;

}
#project-page header{
    /* background-color: #FFFFFF; */
    color: #A8B1B0;
    /* position:relative; */
    padding: 0;
    z-index: 50;
    height: 50px;
    /* border-bottom: 1px solid #F5F6F5; */
}

p.logo{
  margin-bottom: 10px;
}
.logo {
  float: left;
  text-transform: uppercase;
  border: 1.5px solid #C1C1C1;
  /* border: 1.5px solid #A8B1B0; */
  padding:.15em .3em;
}

.logo a {
  /* color: #A8B1B0; */
  color:#C1C1C1;
  transition: color 700ms;
  text-decoration: none;
    font-family: 'Raleway', sans-serif;

}
#project-page .logo {
  border: 1.5px solid #F2F2F2;
}

#project-page .logo a{
  color:#F2F2F2
}

.logo:hover, .logo:focus {
  background-color: #00bcd4;
  border: 2px solid #00bcd4;
}
#project-page .logo:hover, #project-page .logo:focus {
  border: 1.5px solid #00bcd4;
}

.logo a:hover, .logo a:focus {
  color: rgb(245, 246, 245);
}

.logo a strong {
  font-weight: 700;
}
.site-nav{
  position:absolute;
  top:100%;
  width: 100%;
  right: 0;
  height: 0;
  overflow: hidden;
  text-align: center;
  background-color: #F5F6F5;
}

#project-page .site-nav{
    /* background-color: #FFFFFF; */
    border-bottom: 1px solid #A8B1B0;
}


.nav-contact-list{
  display: none;
}

.site-nav-icon{
  display: block;
}

.site-nav--open {
  padding-top:3em;
  height:100vh;
}
.nav-contact-list{
  display: block;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav a {
  /* color: #A8B1B0; */
  color: #C1C1C1;
  text-decoration: none;
  display: block;
  padding: 1.6em 6em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
}

#project-page .site-nav a{
  color: #F2F2F2;
}
.site-nav a:hover,
.site-nav a:focus {
  color: #;
}

.menu-toggle {
  padding: 0 1em;
  position: absolute;
  top: 3.2em;
  right: 1em;
  cursor: pointer;
}

.menu-toggle p {
  position: absolute;
  right:3em;
  top: -1.35em;
  font-weight: 700;
}

#project-page .menu-toggle{
  top: 1.6em;
}

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  background: #A8B1B0;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}
.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.site-nav--icon{
  display:block;
}

.site-nav ul>li{
  font-size: 100%;
  transition: font-size .5s;

}


.site-nav ul li:hover,
.site-nav ul li:focus{
  font-size: 120%;
}
.nav-contact-list>li{
  display: inline-block;
}

.nav-contact-list>li>a{
  padding: 1.6em 1em;
}
.contact-list svg:not(:root).svg-inline--fa,
.contact-list-grey svg:not(:root).svg-inline--fa,
.platform svg:not(:root).svg-inline--fa{
  margin-top:.25em;
  margin-right: 1em;
  font-size: 1.65em;
}
.site-nav svg:not(:root).svg-inline--fa{
  margin:0 auto 10px auto;
}

@media (min-width: 640px) {

  .menu-toggle {
    display: none;
  }
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
    width: auto;
    height: auto;
    text-align: right;
    opacity: 1;
    padding: 0 0 0 4em;
    font-size: 100%;
    top: .5em;
  }
  .nav-contact-list{
    display: none;
  }
  #project-page .site-nav{
    border-bottom: none;
  }

  #project-page .site-nav>ul>li{
    border-bottom: none;
    border-top:none;
    }

  .site-nav ul li {
    display: inline-block;
    transition: none;
    border-top: none;
  }
  .site-nav ul li:hover,
  .site-nav ul li:focus{
        font-size:100%;
      }
  .site-nav a {
    padding: .8em 0 .8em 1em;
    margin-left: 1em;
  }
  .site-nav a:hover, .site-nav a:focus {
    background: transparent;
    font-size: 100%;
  }
  .site-nav--icon {
    display: none;
  }
  .site-nav li:last-child{
    display: none;
  }
  .site-nav ul>li.active a,
  #project-page .site-nav ul>li.active a {
    color:#424242;
  }
}

/* End Nav*/

.masterhead{
  clear:both;
}
.masterhead .main-container{
  padding: 60px 5% 40px 5%;
  text-align: center;
}

.sub-head h1, .sub-head h4{
font-family: 'Raleway', sans-serif;
/* font-family: "Helvetica Neue"; */
padding-bottom: 0;

}

.row {
  margin-left: 0;
  margin-right: 0;
}

ul.contact-list-grey{
  list-style-type: none;
}

ul.contact-list-grey li{
  display: inline-block;
}

ul.contact-list-grey li a {
  text-decoration: none;
  color: darkgray;
  transition: color .8s;
}

ul.contact-list-grey li a:focus,
ul.contact-list-grey li a:hover {
  color: #00bcd4;
}

.highlighted-text{
  color: #00bcd4;

}

/* #project0.main-container{
  margin-top: 10px;
} */

section.work {
  background-color: #fff;
}
.project-process h3{
  color:rgba(0,0,0,.6);
  margin-bottom: 30px;
  text-align: center;
  margin-top: 0;
}

.project-process h3.light{
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 0;
  color: grey;
}

p.project-title, p.project-goal{
  font-family:  "Helvetica Neue";
  font-size:1em;
  margin-bottom: 0;
  color:#424242;
}

p.project-goal{
  margin-top:5px;
  margin-bottom: 0;
  font-size:.9em;

}
.project-preview, .project-brief {
  display: inline-block;
  min-height: 280px;
}

.project-brief {
  border: .5px solid lightgrey;
  padding:10px 45px;
  position: relative;
}

.project-brief a:hover{
  color: #00bcd4;
}


.project-brief h5, .project-brief h2, .project-brief h5.project-role {
  /* font-family: 'Raleway', sans-serif; */
  font-family: "Helvetica Neue";
}
.project-brief h2{
  font-weight: bold;
}

h5.project-role{
  margin-top:25px;
  color:#A8B1B0;
}
h5.client{
  margin-top:0;
}
.project-preview {
  padding-right: 0;
}

#project0 .project-preview {
  /* background-color: #e58d6d; */
  background-image: url(../images/ih-feature-img-lg.png);
  background-size: cover;
  margin: 0 auto;
}

#project1 .project-preview {
  /* background-color: #e58d6d; */
  background-image: url(../images/fh-feature-img-sm.png);
  background-size: cover;
  margin: 0 auto;
}

#project2 .project-preview {
  /* background-color: #79b2d6; */
  background-image: url(../images/st360-feature-img-sm.png);
  background-size: cover;
}

#project3 .project-preview {
  /* background-color: #9fa5a7; */
  background-image: url(../images/skcch-feature-img-lg.png);
  background-size: cover;
}

#project4 .project-preview{
  /* background-color: #9fa5a7; */
  background-image: url(../images/ddl-feature-img-sm.png);
  background-size: cover;
}



button#solutionBtn{
  margin-top: 45px;
  height: 45px;
  background-color: transparent;
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  border: 1px solid #00bcd4;
  border-radius: 25px;
}

button#solutionBtn a{
  padding: 0 1em;
  line-height: 45px;
  color:#00bcd4;
  text-decoration: none;
  font-size: 1.2em;

}
button#solutionBtn:hover{
    background-color: #00bcd4;
}
button#solutionBtn:hover a {
  color: #fff;
}
.large-device#solutionBtn{
  display:block;
}

.small-device#solutionBtn{
  margin-top:20px;
  display: none;
}

/*FOOTER*/

footer {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #424242;
}
footer .main-container{
  padding-top: 40px;
  padding-bottom: 5px;
}
footer p{
  font-size:1em;
}
ol.project-list, ul.project-list {
  padding: 10px 0;
  font-size: 1.2em;
  line-height: 1.8em
}
ul.project-list, ul.contact-list {
  list-style-type: none;
}

ul.project-list li, ul.contact-list li {
  display: inline-block;
}
ul.project-list li{
  margin-right:.5em;
}
ul.project-list li a{
  color: white;
  transition:.5s;}

ul.project-list li a:hover{
  text-decoration: underline;
}
ul.contact-list li:not(:last-child) {
  margin-right: 1%;
}

ul.contact-list li a {
  text-decoration: none;
  color: #424242;
  transition: color .8s;
}

ul.contact-list li a:focus, ul.contact-list li a:hover {
  color: #c6cfd0;
}
/* Skill section */

.skill-set ul {
  padding-left:25px;
}

.skill-set ul li{
  font-size: 1.2em;
  line-height: 1.8em;
}

/* Project Page */
h1.project-title{
  margin: 10px 0 0 0;
}
.project-masterhead{
  clear:both;
  background-color: white;
  overflow: hidden;
}

#project-page .project-masterhead .main-container{
  padding: 10px 5%;
  text-align: center;
}

#project-page section#overview .main-container{
  padding: 0 5%;
  /* clear:both; */
}
#overview{
  clear:both;
  padding-top:460px;

}
.sub-project-heading{
  font-family:"Helvetica Neue";
}
#overview p{
  margin-top: 0;
}

#overview h3{
  padding-top:0;
  padding-bottom:0;
  text-align: left;
}

#challenge{
  text-align: center;
}

#challenge h3,
#results h3, #process h1, #nextStep h1, #reflection h1,#results h1{
  text-align: center;
}

/* #process h3,#process-define h3, #ideate h3{
  text-align: left;
} */
#process h4, #process-define h4{
  margin-bottom:0;
}

#process h5,#process-define h5{
  margin-top:0;
}

ul.process-list{
  font-size:1.2em;
  line-height: 1.6em;
  padding-left:30px;
}
#process-define{
  background-color: white;
}
p.method{
  text-align:left;
  /* font-weight:700; */
}

/* Process */
.emphasize h4 {
  margin-bottom: 0;
}
.project-heading {
  margin-top: 30px;
}

.project-header p {
  width: 80%;
  margin: 0 auto;
}
.feature-image{
  background-size: cover;
  height:auto;
  width:100%;
  position:absolute;
  background-repeat: no-repeat;
  top:0;
  left:0;
  z-index: 10;
}
.key-features{
  background-size: cover;
  width:100%;
}
#ih-banner{
  background-image: url(../images_new/projects/tp-invention-hub/ih-feature-img-lg.png);
  background-size: cover;
  height:360px;
  /* position:absolute;
  background-repeat: no-repeat;
  top:0;
  left:0;
  z-index: 1000; */
}
#fh-banner {
  background-image: url(../images/fh-feature-img-lg.png);
  background-size: cover;
  height:450px;
}

#sportsthink-banner {
  background-image: url(../images/st360-feature-img-md.png);
  background-size: cover;
  height:450px;
}

#skcch-banner {
  background-image: url(../images/banner-skcch.png);
  background-size: cover;
  margin: 0 auto;
}
#ddl-banner{
  background-image: url(../images/ddl-feature-img-lg.png);
  background-size: cover;
  margin: 0 auto;
}

.project-process {
  margin-top: 20px;
}

.project-process:nth-child(2n-1) {
  background-color: #f2f2f2;
  clear: both;
}

.project-process:last-child{
    background-color: #FFFFFF;
}

.project-intro h4, .project-process h4 {
  font-weight: 700;

}

h5.duration {
  margin-top: 0;
}

.platform {
  color: lightgrey;
}

.applied {
  color: #2AA8A1;
}

a.external-link{
  text-decoration:underline;
  color:#00bcd4;
}

#key-highlight ul>li{
  padding-left: 10px;
  color:rgba(0,0,0,.6);
  font-size: 1em; /* 16px */
  line-height: 1.6em;
  letter-spacing: .02em;
  font-family: "Helvetica Neue";
}

p {
  font-size: 1.2em; /* 19px */
  line-height: 1.6em;
  letter-spacing: .05em;
  margin: 10px 0 15px 0;
}

.number {
  position: absolute;
  left: 0;
  top: 0;
}
.others-headline {
  text-align: center;
}

.others-headline h2 {
  font-weight: 700;
}

.others p {
  text-align: center;
}

.others a {
  text-decoration: none;
  color: darkgray;
}

.others a:hover {
  text-decoration: none;
  color: #;
}

.project0-card, .project1-card, .project2-card, .project3-card {
  height: 200px;
  display: block;
}

.project0-card{
  background-image: url(../images/ih-feature-img-lg.png);
  background-size: cover;
}
.project1-card {
  background-image: url(../images_new/projects/tp-invention-hub/thumbnail-img-ih.png);
  background-size: cover;
}
.project2-card{
  background-image: url(../images_new/projects/tbp-matching-app/thumbnail-img-tbp.png);
  background-size: cover;
}
.project3-card {
  background-image: url(../images_new/projects/google-design-challenge/thumbnail-img-google.png);
  background-size: cover;
  background-color: #9fa5a7;
}

ul.project-member,
ul.reflection-list,
ul.process-list,
ul.ideation-list,
ul.next-step-list,
ol.process-list {
  padding-left: 40px;
  font-size: 1.2em;
  line-height: 1.8em;
  letter-spacing:.05em;
}


.project-scope,.project-methology{
  padding:5px;
  height: auto;
  margin: 10px auto;
}

.project-scope{
  width:100%
}

.project-highlight img,
img.demo-img,
img.ideation-img,
img.process-img ,
img.solution-img{
  padding:5px;
  width: 100%;
  height: auto;
  border: .5px solid #e8e8e8;
  margin: 10px auto;
  background-color:white;
}

#key-highlight ul{
  font-size: 1.2em;
  line-height: 1.6em;
  color: #A8B1B0;
  list-style-type: none;
  padding-left: 10px;
}

.project-process h3{
  color:#DC7849;
}
/*About Page*/

.profile-img{
  width: 100%;
  margin: 0 auto;
  height: auto;
  position: absolute;
  top:80px;
  left:0;
}
.profile-photo{
  position: relative;
}
.profile-small-device{
  display:none;
}
.bio-btn{
border: 1px solid #00bcd4;
}
.bio h2{
  font-size:2.3em;
}
section#about-page {
  background-color: #F5F6F5;
  height: 100vh;
}

/*
section#about-page .main-container {
    height: 552px;
    padding-top: 100px;
}
*/

.bio-photo {
  text-align: center;
  margin-top: 150px;
}

.bio {
  padding: 50px 30px;
  text-align: left;
}

.contact-option{
  margin-top:1em;
    margin-bottom:1.8em;
}
.contact-option a{
  border: 1px solid #00bcd4;
  padding: .5em .6em;
  text-decoration: none;
  color:#00bcd4;
  transition: .5s;
  font-family:'Raleway', sans-serif
}
.contact-option a:hover,
.contact-option a:focus{
  color: white;
  background-color:#00bcd4;
}
/*About Us Media Query*/

@media (max-width:1000px) {
  h5.project-role {
    display:none;
  }
}
/* Laptop Device*/


@media (max-width:956px) and (min-width:769px){

.bio{
    width:100%;
    margin-top: 10px;
    padding:0;
  }
  .profile-img{
    display:none;
  }
  .profile-small-device{
    display:block;
    width: 50%;
    margin: 0 auto;
    height: auto;
  }
  h5.project-role {
    disaply:none;}

}
/* Tablet Device*/

@media (max-width:768px) {

  .bio{
    width:100%;
    margin-top: 10px;
    padding:0;
  }
  .profile-img{
    display:none;
  }
  .profile-small-device{
    display:block;
    width: 80%;
    margin: 0 auto;
    height: auto;

  }
.small-device#solutionBtn{
    display: block;
  }
.large-device#solutionBtn{
    display:none;
  }

  #project0 .project-preview {
    background-color: #e58d6d;
    background-image: url(../images/ih-feature-img-lg.png);
    background-size: cover;
    margin: 0 auto;
  }
#project1 .project-preview {
  background-color: #e58d6d;
  background-image: url(../images/fh-feature-img-md.png);
  background-size: cover;
  margin: 0 auto;
}
#project2 .project-preview {
  background-color: #79b2d6;
  background-image: url(../images/st360-feature-img-md.png);
  background-size: cover;
}
button.readCase{
  bottom:40px;}


}
/* Mobile L Device*/

@media (max-width:425px) {
  .bio-photo img {
    width: 40%;
  }
  .flex-item{
    display:block;
    width: 100%;
  }
  h4 {
    line-height: 1.4em;
  letter-spacing: .06em;
  }
  #project1 .project-preview {
    background-color: #e58d6d;
    background-image: url(../images/fh-feature-img-sm.png);
    background-size: cover;
    margin: 0 auto;
  }
  #project2 .project-preview {
    background-color: #79b2d6;
    background-image: url(../images/st360-feature-img-sm.png);
    background-size: cover;
  }
  button.readCase{
    left: 15px;
    bottom:30px;
  }

.project-brief {
  border: .5px solid lightgrey;
  padding:10px 15px;
  position: relative;
}
}
/* Mobile M Device*/

@media (max-width:375px) {}

/* Mobile S Device*/

@media (max-width:320px) {
  body {
    font-size: 98%;
  }
  /* button#viewBtn, button#emailBtn, button#linkBtn {
    width: 32%;
    margin: 0;
  }
  button#viewBtn, button#emailBtn {
    margin-right: .5%;
  } */
}

/*Test*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #333333;
  margin-bottom: 10px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 100px 20px;
  cursor:pointer;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/* .hovereffect a,*/.hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
  font-family: "Helvetica Neue";

}


/* .hovereffect a,*/ .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

}

.hovereffect:hover p{
  border: 1px solid #FFF;
  border-radius: 25px;
  width: 65%;
  margin: 0 auto;
  height:45px;
  line-height: 45px;
}

.sideMenu{
  position:fixed;
  top:220px;
  right:40px;
  z-index:0;
  font-size:16px;
  text-align:left;
}

#sidemenu .nav>li>a{
    font-family: "Helvetica Neue";
    background-color:transparent;
    font-size:0.9em;
    color: #A8B1B0;
}

#sidemenu ul>li.active a.nav-link {
  color: #00bcd4;
}

#sidemenu .nav>li>a:hover{
  color:#424242;
}
.nav>li>a:active, .sideMenu a:visited{
  color: #00bcd4;
}


li.sideMenu_item:active,li.sideMenu_item:hover{
  background-color:transparent;
}
